@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #F2EAE2;
}

main {
    display: flex;
    width: 375px;
    height: 1002px;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 350px;
    margin: 80px 12px 172px 13px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 350px;
    height: 342px;
}

.perfume {
    font-size: 12px;
    font-family: "Montserrat", serif;
    color: #6C7289;
    padding: 32px 0 24px 32px;
    letter-spacing: 5px;
}

.title {
    font-size: 32px;
    padding: 0 32px 24px 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(28, 35, 43, 1);
}

.bio {
    font-size: 14px;
    padding: 0 32px 24px 32px;
    color: rgba(108, 114, 137, 1);
    font-family: "Montserrat", serif;
}

.preco {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    padding-left: 32px;
    color: rgba(61, 129, 104, 1);
}


.ouo {
    display: flex;
    font-size: 13px;
    font-family: "Montserrat", serif;
    text-decoration: line-through;
    padding: 10px 16px 8px 16px;
    color: #6C7289;
}



svg {
    display: flex;
    align-self: center;
    color: #FFFFFF;
    /* padding-left: 87.5px;
    padding-right: 8px; */
    width: 16px;
    height: 16px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 24px 32px 32px 32px;
    width: 286px;
    border: 0;
    height: 50px;
    border-radius: 8px;
    background-color: rgba(61, 129, 104, 1);
    color: #FFFFFF;
    cursor: pointer;
}

input {
    color: #FFFFFF;
    background-color: rgba(61, 129, 104, 1);
    border: 0;
    font-weight: bold;
    cursor: pointer;
}